/* -----------------------------------------------------------------------------
   #Display
   -------------------------------------------------------------------------- */
@include responsive(".u-display-none") {
  display: none !important;
}

@include responsive(".u-display-block") {
  display: block !important;
}

@include responsive(".u-display-inline") {
  display: inline !important;
}

@include responsive(".u-display-inline-block") {
  display: inline-block !important;
}