/* -----------------------------------------------------------------------------
   #Float
   -------------------------------------------------------------------------- */
.u-clearfix:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

@include responsive(".u-float-right") {
  float: right !important;
}

@include responsive(".u-float-left") {
  float: left !important;
}

@include responsive(".u-float-none") {
  float: none !important;
}